In [7]:
import pandas as pd

In [8]:
def clean_emp_id(df):
    df.loc[:, "emp_id"] = (
        df.emp_id.astype(str)
        .str.lower()
        .str.strip()
        .str.replace(r"\s+", "", regex=True)
    )
    return df


def read_tbl():
    df = pd.read_csv("../../../download/data/Alaska/Alaska_index.csv")
    return df


df = read_tbl()

df

,person_nbr,full_name,first_name,middle_name,last_name,suffix,year_of_birth,age,agency,type,rank,start_date,end_date,employment_status,ever_revoked,ever_surrendered
0,9993-2222,Christopher Ledoux,Christopher,NaN,Ledoux,NaN,NaN,NaN,NaN,Police Officer,NaN,2017-09-16,NaN,Resigned,False,False
1,9990-3191,Joshua Feland,Joshua,NaN,Feland,NaN,NaN,NaN,NaN,Probation / Parole Officer,NaN,2019-04-22,NaN,Resigned,False,False
2,9983-4494,Adam Gebert,Adam,NaN,Gebert,NaN,NaN,NaN,Wasilla Police Department,Police Officer,NaN,2019-12-23,NaN,Active,False,False
3,9981-6140,Derrick Hemphill,Derrick,NaN,Hemphill,NaN,NaN,NaN,Alaska Department Of Public Safety,Police Officer,NaN,2022-01-07,NaN,Active,False,False
4,9973-2127,Andrew Griggs,Andrew,NaN,Griggs,NaN,NaN,NaN,NaN,Correctional Officer,NaN,2018-02-08,NaN,Resigned,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4450,0043-1581,Braden Shackelford,Braden,NaN,Shackelford,NaN,NaN,NaN,Anchorage Police Department,Police Officer,NaN,2022-12-08,NaN,Active,False,False
4451,0019-6556,Jesse Picard,Jesse,NaN,Picard,NaN,NaN,NaN,Yakutat Police Department,Police Officer,NaN,2021-08-08,NaN,Active,False,False
4452,0014-2782,Kitikhun Posarat,Kitikhun,NaN,Posarat,NaN,NaN,NaN,Department Of Corrections,Correctional Officer,NaN,2022-03-10,NaN,Active,False,False
4453,0013-1574,Tiffany Walters,Tiffany,NaN,Walters,NaN,NaN,NaN,NaN,Police Officer,NaN,2020-02-18,NaN,Resigned,False,False
4454,0006-9444,Brady Valdez,Brady,NaN,Valdez,NaN,NaN,NaN,NaN,Police Officer,NaN,2022-01-27,NaN,Resigned,False,False

In [9]:
df.to_csv("../data/output/alaska_index.csv", index=False)