In [ ]:
import pandas as pd
import re


def read_tbl():
    df = pd.read_excel("../data/input/ms_response_copyofpostrosterfile.xlsx")

    df = df.rename(columns={"FIRST": "first_name", 
    "LAST": "last_name",
    "STATUS": "employment_status", 
    "DOH": "start_date", 
    "DOT": "end_date",
    "CERT #": "uid"})
    return df 

def filter_uid(df):
    # Create number pattern for 4 or 5 digits
    pattern = r'^\d{4,5}$'
    
    # Filter rows where cert matches pattern
    mask = df['uid'].astype(str).str.match(pattern)
    
    return df[mask]


def fix_agency_name(df):
    df.loc[:, "agency_name"] = df.Agency.str.cat(df.TYPE, sep=" ")
    return df.drop(columns=["Agency", "TYPE"])



def clean_dates(df):
        df['start_date'] = df['start_date'].dt.date
        df['end_date'] = df['end_date'].dt.date
        return df


df = read_tbl()

df = df.pipe(filter_uid).pipe(fix_agency_name).pipe(clean_dates)

df.tail(30)

,first_name,last_name,employment_status,start_date,end_date,uid,agency_name
45199,Travis,Crimm,Part-Time,2005-07-01 00:00:00,2008-01-01 00:00:00,9442,Yazoo Co SO
45200,Theodis,Freeman,Part-Time,2008-12-24 00:00:00,2008-01-01 00:00:00,20555,Yazoo Co SO
45201,John,Gibson,Part-Time,2007-12-31 00:00:00,NaN,14992,Yazoo Co SO
45202,William,Gilmore,Part-Time,NaN,NaN,6408,Yazoo Co SO
45203,Courtney,Granderson,Part-Time,NaN,NaN,21960,Yazoo Co SO
45204,Lorraine,Hudson,Part-Time,2012-01-02 00:00:00,NaN,13856,Yazoo Co SO
45205,Lorraine,Hudson,Part-Time,2003-04-01 00:00:00,2007-12-31 00:00:00,13856,Yazoo Co SO
45206,Tommy,Irvine,Part-Time,NaN,NaN,11285,Yazoo Co SO
45209,Timothy,Jones,Part-Time,2006-11-01 00:00:00,2011-03-08 00:00:00,8505,Yazoo Co SO
45210,Kenny,Lewis,Part-Time,2008-05-01 00:00:00,2012-01-02 00:00:00,19351,Yazoo Co SO
45212,Cole,McGinnis,Part-Time,2012-01-03 00:00:00,NaN,21879,Yazoo Co SO
45213,Cole,McGinnis,Part-Time,2005-12-17 00:00:00,2012-01-02 00:00:00,21879,Yazoo Co SO
45214,Dana,Nunn,Part-Time,2009-04-01 00:00:00,2012-01-02 00:00:00,11398,Yazoo Co SO
45215,Jonathan,Purvis,Part-Time,NaN,NaN,19138,Yazoo Co SO
45216,Christopher,Pyron,Part-Time,2021-09-01 00:00:00,NaN,28674,Yazoo Co SO
45221,Michael,Wilson,Part-Time,2001-02-01 00:00:00,NaN,17304,Yazoo Co SO
45222,Jimmy,Woods,Part-Time,2001-10-01 00:00:00,2007-12-31 00:00:00,14979,Yazoo Co SO
45223,Samuel,"Carter, Jr",Full-Time,2018-11-01 00:00:00,2019-09-03 00:00:00,13694,Yazoo Co Schools Schools
45224,Willie,Cole,Full-Time,2018-11-07 00:00:00,NaN,20551,Yazoo Co Schools Schools
45226,David,James,Full-Time,2022-01-14 00:00:00,NaN,16623,Yazoo Co Schools Schools
45228,Sade,Martin,Full-Time,2022-08-12 00:00:00,NaN,25176,Yazoo Co Schools Schools
45229,Daniel,Miller Jr,Full-Time,2019-11-14 00:00:00,2021-12-03 00:00:00,25733,Yazoo Co Schools Schools
45230,Jermiah,Simmons,Full-Time,2020-11-04 00:00:00,2021-03-12 00:00:00,25745,Yazoo Co Schools Schools
45231,Cordney,Williams,Full-Time,2019-11-08 00:00:00,NaN,23755,Yazoo Co Schools Schools
45233,Stephen,James,Full-Time,2001-12-03 00:00:00,2006-11-09 00:00:00,15583,Yazoo Levee Board Lev Brd
45234,Charles,Liddell,Full-Time,No App,NaN,18343,Yazoo Levee Board Lev Brd
45235,Bobby,Reed,Full-Time,2006-06-16 00:00:00,2014-09-30 00:00:00,3449,Yazoo Levee Board Lev Brd
45236,LaShun,Sims,Full-Time,2017-10-01 00:00:00,NaN,26083,Yazoo Levee Board Lev Brd
45237,Reginald,Sims,Full-Time,2005-11-01 00:00:00,2021-06-10 00:00:00,18592,Yazoo Levee Board Lev Brd
45238,Timothy,Wilkins,Full-Time,2007-10-01 00:00:00,2014-09-30 00:00:00,20981,Yazoo Levee Board Lev Brd